name: root-env  # There's a github actions warning if this isn't defined.
channels:
    - conda-forge
    - defaults
dependencies:
    - python=3.10
    - make
    - pandas
    - numexpr>=2.4.6
    - gdal==3.3.3  # pinning to match InVEST GDAL builds, avoid mac libpopppler dylib issue
    - nomkl
    - numpy
    - cvxpy
      #- Shapely<1.8.2
    - rtree
    - requests
    - pygeoprocessing
    - pyinstaller
    - setuptools<60  # https://stackoverflow.com/a/71027007/299084
    - toml
    - setuptools_scm
    - psutil
    - cython
    - wheel
      #- rtree>=0.8.2,!=0.9.1,<=0.9.4  # For pyinstaller compatibility.  See natcap/invest#439
    - rtree
    - pip
    - pip:
        # UI requirements work more reliably when installed via pip.
        - natcap.invest[ui]>=3.11
        - railroad  # Needed for setuptools._vendor.pyparsing.diagram
