# If installing from pip, also run:
# pip install -y "git+https://github.com/natcap/invest.git@release/3.9#egg=natcap.invest"

pandas
numexpr>=2.4.6
numpy
scipy
cvxpy
pyside2
qtpy
qtawesome
Shapely
requests
pygeoprocessing
